/* .profile-body {
    text-shadow: none;
} */

.list-group-item {
    border: 0px;
}

.profile-row {
    /* align-content: center; */
    background-color: #00000054;
    /* width: 300px; */
    /* height: 300px; */
}

.profile-avatar {

}

.profile-card-header {
    color: white;
    font-size: 1.5em;
    margin: 1em;
}

.profile-card-list {
    color: rgb(31, 31, 31);
    height: profile-avatar;
}